body {
  padding-inline: 120px;
  padding-block: 50px;
}

/* .navbarFloatRight {
  float: right;
} */

.topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.desktopImage {
  width: 100%;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 200px;
  gap: 50px;
  margin-block: 30px;
}

.item1 {
  grid-column: span 2;
  grid-row: span 1;
}

.item2 {
  grid-column: span 1;
  grid-row: span 2;
}

.item3 {
  grid-column: span 1;
  font-size: 60px;
  line-height: 1;
  margin: 10px;
}

.item4 {
  grid-column: span 1;
}

.wrapper {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media only screen and (max-width: 375px) {
  body {
    padding: 20px;
  }
  .grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .item2 {
    order: 4;
    margin-top: 50px;
  }

  .wrapper {
    flex-direction: column;
  }
}